---
// Server side only code - only available during build time
import MainLayout from '@layouts/MainLayout.astro';
import PokemonCard from '@components/pokemons/PokemonCard.astro';

import type { PokemonListResponse } from '@interfaces/pokemon-list.response';

const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=10');
const data = (await response.json()) as PokemonListResponse;

const title = 'Pokemon Static | Home';
---

<MainLayout title={title}>
  <h1 class="text-3xl text-blue-500">Pokemon List</h1>
  <hr />
  <section
    aria-label="Pokemon List"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayout>
