---
import MainLayout from '@layouts/MainLayout.astro';
import Title from '@components/shared/Title.astro';
import { Counter } from '@components/Counter';

const counterValue = 0;
---

<MainLayout title="Islands">
  <!-- <Counter client:load /> -->
  <!-- Load when component is visible -->
  <Counter
    transition:persist="counter"
    transition:persist-props
    client:visible
    initValue={counterValue}
  >
    <Title>Counter Islands</Title>
  </Counter>
</MainLayout>
